.button {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);

  height: 33px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--primary {
    background-color: var(--color-1);
  }

  &--secondary {
    background-color: var(--color-4);
  }

  &--tertiary {
    background-color: var(--color-white);
    border: 1px solid var(--color-3);
    color: var(--color-3);
  }
}
