:root {
  --font-primary: 'Open Sans', sans-serif;
  --color-1: #000;
  --color-2: rgba(0, 0, 0, 0.5);
  --color-3: #666666;
  --color-4: #fb953e;
  --color-5: #c7c7c7;
  --color-6: #333333;
  --color-white: #fff;
}
